.DS_Store
_book/
artifacts/
package-build/
_main.Rmd
eivGP-literate-source.Rmd
*.Rcheck/
*.tar.gz
reproduction/
experiments/*_cache/
experiments/*_files/
experiments/*.html
applications/*_cache/
applications/*_files/
applications/*.html
.Rproj.user/
.Rhistory
litr/create-eivGP.md
litr/create-eivGP.knit.md

/real-data/

/results/

/real_data_application_outputs/
/codes/ADNI_*.html
/codes/ocean_*.html
/codes/real_data_*.html
/codes/*_files/
/codes/*_cache/

.RData
/setup-sessionInfo.txt
/codes/setup-sessionInfo.txt
