.DS_Store
script/.DS_Store
_main.Rmd
eivGP-literate-source.Rmd
*.Rcheck/
*.tar.gz
reproduction/
experiments/*_cache/
experiments/*_files/
experiments/*.html
applications/*_cache/
applications/*_files/
applications/*.html
.Rproj.user/
